body.noScroll {
  /* ...or body.dialogShowing */
  overflow: hidden;
}

a:link {
  text-decoration: none;
  color: #007bbd;
}

a:visited {
  text-decoration: none;
  color: #007bbd;
}

a:hover {
  text-decoration: none;
  color: #8cabe6;
}

a:active {
  text-decoration: none;
  color: #00318c;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  opacity: 1 \9;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.Post {
  min-width: 480px;
  max-width: 50vw;
  max-height: 75vh;
}

img,
iframe {
  max-width: 35vw;
  max-height: 60vh;
}

@media only screen and (max-width: 720px) {
  .Post {
    max-width: 80vw;
    max-height: 80vh;
  }
  img,
  iframe {
    max-width: 80vh;
    max-height: 80vh;
  }
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Post {
  background-color: #fafbfc;
  border-width: 1px;
  border-color: #fafbfc;
  cursor: pointer;
  overflow: hidden;
}
.Post:hover {
  background-color: #dae6f2;
}

.focus {
  background-color: #9ccdff;
  border-color: #fafbfc;
}
.post-head {
  height: 30px;
}

.post-content {
  min-height: 190px;
  background-color: #f0f8fa;
  border-radius: 4px;
}
.closed {
  display: none;
}
.opened {
  display: block;
}
